@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

body {
  color: white;
  font-optical-sizing: auto;
  display: grid;
  @media (min-width: 1000px) {
    margin-left: 25%;
    margin-right: 25%;
  }
  font-family: geist;
}

a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInDelay {
  0% {
    opacity: 0;
  }
  22% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInSuperDelay {
  0% {
    opacity: 0;
  }
  44% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Ping {
  0% {
  }
  100% {
    scale: 125%;
    opacity: 0;
  }
}

#pulser {
  border-radius: 100%;
  height: 15px;
  width: 15px;
  background-color: rgb(0, 182, 0);
  animation-name: Ping;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

a:hover {
  text-decoration: underline;
}

p1 {
  animation-name: fadeInSuperDelay;
  animation-duration: 3s;
}

#socialIcon {
  filter: invert(83%) sepia(59%) saturate(2%) hue-rotate(69deg) brightness(108%)
    contrast(101%);
  height: 20px;
  cursor: pointer;
}

#socialIcon:hover {
  scale: 110%;
}

#header {
  @media (min-width: 1000px) {
    display: flex;
    justify-content: space-between;
  }
}

#headerImg {
  border-radius: 10px;
  width: 100%;
  animation-name: fadeInDelay;
  animation-duration: 3s;
  @media (min-width: 1000px) {
    width: 80%;
  }
}

ColorText {
  color: rgb(243, 90, 92);
}

h1 {
  font-weight: bolder;
  animation-name: fadeIn;
  animation-duration: 3s;
    font-size: xx-large;
}

h3 {
  animation-name: fadeInSuperDelay;
  animation-duration: 3s;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#project {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-right: 5px;
  text-decoration: none;
}

#project:hover {
  padding-left: 3px;
  background-color: rgba(128, 128, 128, 0.174);
}

#projectSubtext {
  font-size: x-small;
  max-width: 90%;
}

#projectInfoDiv {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

#projectProgress {
  display: flex;
  align-items: center;
}

#projectIcon {
  height: 25px;
  filter: invert(83%) sepia(59%) saturate(2%) hue-rotate(69deg) brightness(108%)
    contrast(101%);
}

p2 {
  animation-name: fadeInSuperDelay;
  animation-duration: 3s;
  font-size: medium;
}

#ColorInput {
  text-transform: uppercase;
  background-color: transparent;
  outline-color: transparent;
  color: white;
  width: 40px;
  text-decoration: underline;
  text-underline-offset: 2px;
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}