@font-face {
  font-family: tiktokSans;
  src: url(/public/fonts/TikTokSans-VariableFont_opsz\,slnt\,wdth\,wght.ttf);
}

@font-face {
  font-family: geist;
  src: url(/public/fonts/Geist-VariableFont_wght.ttf);
}

body {
  background: #111111;
  color: white;
  font-optical-sizing: auto;
  display: grid;
  @media (min-width: 450px) {
    margin-left: 25%;
    margin-right: 25%;
  }
  font-family: geist;
}

a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInDelay {
  0% {
    opacity: 0;
  }
  22% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInSuperDelay {
  0% {
    opacity: 0;
  }
  44% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  animation-name: fadeInSuperDelay;
  animation-duration: 3s;
}

a:hover {
  text-decoration: underline;
}

p1 {
  animation-name: fadeInSuperDelay;
  animation-duration: 3s;
}

#socialIcon {
  filter: invert(83%) sepia(59%) saturate(2%) hue-rotate(69deg) brightness(108%)
    contrast(101%);
  height: 24px;
  cursor: pointer;
}

#socialIcon:hover {
  scale: 110%;
}

#header {
  @media (min-width: 450px) {
    display: flex;
    justify-content: space-between;
  }
}

#headerImg {
  border-radius: 10px;
  width: 100%;
  animation-name: fadeInDelay;
  animation-duration: 3s;
  @media (min-width: 450px) {
    width: 80%;
  }
}

ColorText {
  color: rgb(243, 90, 92);
}

h1 {
  font-family: "tiktokSans";
  animation-name: fadeIn;
  animation-duration: 3s;
}

#ColorInput {
  text-transform: uppercase;
  background-color: transparent;
  outline-color: transparent;
  color: white;
  width: 40px;
  text-decoration: underline;
  text-underline-offset: 2px;
}
